
.card {
    width: 50%;
    margin-bottom: 20px;
    /* display: flex; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3% 4% 6% 4%;
  
 
  
}
h2{margin: 0; padding: 0;}

h3{margin-bottom: 0;}

